#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;           /* Change from left: 0; to right: 0; */
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

#sidebar a {
  padding: 8px 32px 8px 8px; /* Adjust padding for right sidebar */
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

#sidebar a[onclick] {
  position: absolute;
  top: 10px;
  left: 25px;        /* Change from right: 25px; to left: 25px; */
  font-size: 36px;
}

#openSidebarBtn {
  position: fixed;
  top: 10px;
  right: 10px;       /* Change from left: 10px; to right: 10px; */
  z-index: 2;
}